*{
box-sizing: border-box;
margin: 0px;
padding: 0px;
}

.container{
    background-color: rgb(186, 210, 217);

}
nav{
    width: 100%;
    height: fit-content;
    min-height: fit-content;
font-family: 'Courier New', Courier, monospace;
background-image: url(./images/image1.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
padding: 10%;





}
.logo span{
    color: rgb(116, 116, 237);
}

.navbar{

    display: flex;
    flex-direction: row;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}
/*  */
.navbar li{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    justify-content: space-between;
    margin: auto;
    padding: 15px;
    color: white;
    
}
.navbar li a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 20px;
    
}
.navbar li a:hover{
    color: rgb(9, 200, 253);
}


.btn{
    
    border-radius: 30px;
    border: 2px solid transparent;
    padding: 10px;
    margin: auto;
    background-color:rgb(116, 116, 237);;
    color: white;
}
.nn{
     padding: 10px;
     width: 100%; 
     height: 300px;
    
}
h1{
    color: rgb(101, 101, 235);
    
}

.section{
   display: flex; 
   flex-direction: column;
   margin-left: 60%;
    margin-bottom: 20%;
   font-family: 'Times New Roman', Times, serif;
   
   
   
   
}
.section2{
    background-color: rgb(156, 202, 215);
    
}
.secc{
    text-align: center;
    color:black;
}
.secc span{
    color: rgb(116, 116, 237);

}

.box{
    /* background-color: white; */
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding-top: 34px;
    padding-bottom: 34px; 
    justify-content: space-between; 
    
    padding-right: 10%;
    
}

.row{
   
    width: 230px;
    height: fit-content;
    max-height: 350px;
  background-color: whitesmoke;
    padding-bottom: 40px; 
    text-align: center;  
    
}
.bt{

background-color:rgb(116, 116, 237);
color: white;
border-radius: 30px;
border: 2px solid transparent;
padding: 10px;
margin-left: 45%;
margin-bottom: 20px;



}

.bt:hover{
    background-color: rgb(108, 252, 252);
    color: black;
}
.btnn{
    color: teal;
    border: 2px solid transparent;
    padding-top: 10px;
    background-color: rgb(156, 202, 215);
    padding: 10px;
    text-align: center;
    margin-top: 10%;
    
}
.box1{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    padding-left: 10%;
    justify-content: space-between;
    padding-right: 10%;
    padding-bottom: 35px;
    padding-top: 35px;
    
}
.box2{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    padding-left: 20%;
    /* justify-content: space-between; */
    padding-right: 10%;
    padding-bottom: 40px;
    padding-top: 40px;
}
.row2{
    width: 400px;
}
 /* .row2i{
     background-color: rgb(45, 45, 57);
    width: 45%;
     padding-left: 35px;
     height: fit-content;  
     color: black;
     

}  */
.h1{
    color:black;
    margin-bottom: 10%;
    padding-top: 10%;
}
.p{
    color:black;
}
.img{
    border: 2px solid transparent;

    border-radius: 100%;
    background-color: white;
     margin-top: 7%; 
    transition: 4s;
    margin-left: 20px;
    margin-top: 20px;
   
    

    

}
h3{
    color:rgb(156, 202, 215);
    display: flex;
    flex-direction:row-reverse;
    margin-bottom: 20px;
    margin-right: 100px;
    


}
.footer{
    padding: 10px 20px;
    background-image: url(./images/image2.jpg);
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.h2{
    color: white;
     margin-top: 3%; 
}

.pfooter{
    color: white;
    margin-top: 2%;

}
.btt{

    background-color:rgb(116, 116, 237);
    color: white;
    border-radius: 30px;
    border: 2px solid transparent;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 3%;
    
    }
    
    .btt:hover{
        background-color: rgb(108, 252, 252);
        color: black;
    }

    /* mobile */

 @media screen and (max-width:560px) {
    .navbar ul {
        display: none;
    }
} 

/* ipad min*/
 @media screen and (min-width:561) and (max-width:880px){

.navbar{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    margin: 2px;
    padding-right: 25px;
}
.navbar li{
    display: none;
}


.box{
    flex-direction: row;

    justify-content: space-between;

}
.section4{
    padding: 15%;
    margin: 10%;
    margin-left: 40%;
}
.row{
    width: 180px;
}
.section h4{
text-align: center;
display: flex;
flex-direction: column;
}
.section p{
    text-align: center;
}
nav h2,h4{
    text-align: center;
}

} 


 @media screen and (max-width:560px) {

    .navbar{
        display:none;
    }

    .section{

        display:flex; 
   flex-direction: column-reverse; 
    margin-bottom: 30%;
    margin-left: 10%;
   font-family: 'Times New Roman', Times, serif;
   
    }

    .box{
        flex-direction: column;
    }
    
    
    .row{
   
        width: 220px;
        max-height: 300px;
        padding-bottom: 40px;
        margin-top: 10%;  
         margin:5%; 
        
    
    }
    .bt{
        margin-right: 10%;
    }
    .image{
        width: 100%;
    }
    .box1{
        flex-direction: column;
    }
    .row1{
        padding: 5%;
    }
    .box2{
        flex-direction: column;
    }
    .row2{
        width: 230px;
    }
    footer{
        padding: 10px 0px;
        height: 250px;
    }
    
} 